body {
	margin: 0px;
	padding: 1em;
	padding-left: 21em;
	padding-top: 21em;
}

nav {
	position: fixed;
	top: 20em;
	left: 0em;
	width: 20em;
	overflow: auto;
	padding: 1em;
}

#outline ol,#outline li {
	margin: 0;
	list-style: none;
}

#outline ol {
	padding-left: 0;
}

#outline ol ol {
	padding-left: 1em;
}

#outline ol li:before {
	content: "\25b7";
}

#outline ol li.expanded:before {
	content: "\25bd";
}

#outline li.leaf:before,
#outline ol.leaf li:before,
#outline li.expanded.leaf:before {
	content: "\25cb";
}

#outline ol > li > ol {
	display: none;
}

#outline ol > li.expanded > ol {
	display: list-item;
}

#content img {
	clear: both;
}

#content img.inline {
	display: inline-block;
}

#content img.right {
	clear: right;
	float: right;
}

#content img.left {
	clear: left;
	float: left;
}
