@font-face {
	font-family: "Space Age";
	src: local("SpaceAge"), url(space_age.ttf), url(space_age.otf);
}

body {
	text-align: justify;
	padding: 3em 0 0 20em;
	background: url(webtreats_crimson_red_pattern_16.jpeg);
	color: #FFF;
}

a {
	color: #FF0;
}

a:visited {
	color: #996;
}

a:hover {
	color #F00;
}

a:active {
	color #FFF;
}

header {
	position: fixed;
	top: 3em;
	left: 0em;
	bottom: 0px;
	width: 18em;
	overflow: auto;
	margin: 0;
	padding: 1em;
	background: url(webtreats_crimson_red_pattern_26.jpeg);
}

#outline ol,#outline li {
	margin: 0;
	list-style: none;
}

#outline ol {
	padding-left: 0;
}

#outline ol ol {
	padding-left: 1em;
}

#outline ol li:before {
	content: "\25b7";
}

#outline ol li.expanded:before {
	content: "\25bd";
}

#outline li.leaf:before,
#outline ol.leaf li:before,
#outline li.expanded.leaf:before {
	content: "\25cb";
}

#outline ol > li > ol {
	display: none;
}

#outline ol > li.expanded > ol {
	display: list-item;
}

nav {
	background: #000;
	display: block;
	position: fixed;
	top: 0em;
	left: 0em;
	right: 0em;
	height: 3em;
	padding: 0 0 0 21em;
}

nav ul#navmenu {
	font-family: "Space Age", sans-serif;
	font-size: 200%;
	top: 0;
	left: 0;
	right: 0;
	height: 1em;
	margin: 0;
	padding: 0;
	list-style-type: none;
	position: relative;
	display: block;
	background: #000;
}
nav ul#navmenu li {
	display: block;
	float: left;
	margin: 0;
	padding: 0;
	background: #000;
}
nav ul#navmenu li a {
	display: block;
	float: left;
	color: #900;
	padding: 0;
	text-decoration: none;
	border-style: solid;
	border-color: transparent;
	border-width: 0.25em 1em 0 1em;
}
nav ul#navmenu li a:hover {
	color: #f77;
	border-top-color: white;
}

#content li {
	clear: both;
}

#content a {
	margin-right: auto;
}

#content a img {
	max-width: 200px;
	max-height: 200px;
	margin-left: auto;
	margin-right: auto;
	height: auto;
	clear: both;
}
